Package: linux-how-to
Version: 1.0
Architecture: amd64
Maintainer: Luca Vercelli <luca.vercelli.to@gmail.com>
Installed-Size: 94
Depends: python (<= 3.0), xdg-utils
Section: doc
Priority: optional
Description: Linux How To
 Application for helping Linux beginners.
 Its intended use is to be installed in laptops where Linux is pre-installed.
